* {
  box-sizing: border-box;
}
section {
  width: 1440px;
  margin: 0 auto;
}
h1 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 72px;
  position: relative;
  color: #fff6e7;
  text-transform: uppercase;
}

h4 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 62px;
  text-transform: uppercase;
}

/* p {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 24px;
  line-height: 120%;
} */

.firstSection {
  background-image: url(../images/1.svg);
  background-size: cover;
  height: 877px;
  display: block;
}

.firstSection h1 {
  top: 197.13px;
  right: 224.5px;
  bottom: 607.87px;
  left: 211.5px;
}
/* .firstSection img {
  padding: 159px 57px 29px 1004px;
} */

.secondSection {
  background-image: url(../images/22.jpg);
  background-size: cover;
  height: 1088px;
  display: block;
}

.secondSection h2 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 76px;
  color: #fff6e7;
  /* padding: 0 329.85px 0 328.33px; */
  transform: rotate(-4.88deg);
  position: relative;
  top: 428.75px;
  right: 329.85px;
  bottom: 401.33px;
  left: 328.33px;
}

.secondSection p {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 24px;
  line-height: 120%;
  color: #fff6e7;
  /* padding: 0 592px 248.82px 592px; */
  transform: rotate(-4.88deg);
  position: relative;
  top: 516px;
  right: 592px;
  bottom: 350.82px;
  left: 592px;
  width: 254px;
}

.thirdSection {
  background-image: url(../images/3.svg);
  background-size: cover;
  height: 595px;
  display: block;
}

.thirdSection h5 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 13px;
  line-height: 120%;
  /* padding: 350px 630px 16.19px 620px; */
  transform: rotate(-16.06deg);
  text-align: center;
  position: relative;
  top: 264px;
  right: 633.7px;
  bottom: 259.66px;
  left: 657.77px;
  width: 142.86px;
}

.thirdSection h3 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 54px;
  /* padding: 0px 630px 190.35px 620px; */
  transform: rotate(-16.06deg);
  position: relative;
  top: 288px;
  right: 614.3px;
  bottom: 188.35px;
  left: 680px;
  width: 138px;
}

.fourSection {
  background-image: url(../images/4.svg);
  background-size: cover;
  height: 1049px;
  display: block;
}

.fourSection h4 {
  color: #fff6e7;
  /* padding: 149px 913px 819px 76px; */
  position: relative;
  top: 149px;
  right: 913px;
  bottom: 843px;
  left: 76px;
  width: 451px;
}

.fiveSection {
  background-image: url(../images/5.svg);
  background-size: cover;
  height: 1185px;
  display: block;
}

.fiveSection h4 {
  color: #002137;
  /* padding: 159px 216px 22px 777px; */
  position: relative;
  top: 159px;
  right: 216px;
  bottom: 945px;
  left: 777px;
  width: 447px;
}

.fiveSection h6 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 24px;
  line-height: 120%;
  color: #002137;
  /* padding: 0 64px 148px 777px; */
  position: relative;
  top: 200px;
  right: 64px;
  bottom: 691px;
  left: 777px;
  width: 599px;
}

.sreda {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 30px;
  font-variant: small-caps;
  /* margin: 7px 49px 0 844px; */
  position: relative;
  top: 356px;
  right: 508px;
  bottom: 500px;
  left: 846px;
  width: 88px;
}

.odin {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 48px;
  font-variant-numeric: oldstyle-nums;
  /* margin: 0 45px 0 0; */
  position: relative;
  top: 320px;
  right: 508px;
  bottom: 500px;
  left: 982px;
  width: 21px;
}

.nol {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 46px;
  font-variant-numeric: slashed-zero;
  /* padding: 0 45px 0 0; */
  position: relative;
  top: 276px;
  right: 363px;
  bottom: 483px;
  left: 1048px;
  width: 30px;
}

.june {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 30px;
  font-variant: small-caps;
  /* padding: 13px 231px 0 0; */
  position: relative;
  top: 240px;
  right: 363px;
  bottom: 483px;
  left: 1122px;
  width: 87px;
}

.sixSection {
  background-image: url(../images/6.svg);
  background-size: cover;
  height: 928px;
  display: block;
}

.sixSection h4 {
  font-family: "Parmigiano Piccolo Pro";
  color: #002137;
  /* padding: 227px 858px 22px 76px; */
  position: relative;
  top: 227px;
  right: 913px;
  bottom: 843px;
  left: 76px;
  width: 506px;
}

.sixSection h6 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 24px;
  line-height: 120%;
  color: #002137;
  /* padding: 0 1033px 141px 76px; */
  position: relative;
  top: 270px;
  right: 1033px;
  bottom: 482px;
  left: 76px;
  width: 331px;
}

.M {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 161px;
  color: #002137;
  /* margin: 0 708.13px 101.07px 104px; */
  transform: rotate(-25.81deg);
  position: relative;
  top: 430px;
  right: 708.13px;
  bottom: 101.07px;
  left: 546px;
  width: 152px;
  height: 193px;
}

.sevenSection {
  background-image: url(../images/7.svg);
  height: 346px;
  background-size: cover;
  display: block;
}

.sevenSection p {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 24px;
  line-height: 120%;
  color: #002137;
  text-align: center;
  position: relative;
  top: 145px;
  right: 578px;
  bottom: 114px;
  left: 578px;
  width: 284px;
}

.eightSection {
  background-image: url(../images/8.svg);
  height: 1073px;
  background-size: cover;
  display: block;
}

.eightSection h4 {
  color: #002137;
  position: relative;
  top: 240px;
  right: 216px;
  bottom: 945px;
  left: 777px;
  width: 357px;
}

.eightSection h6 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 24px;
  line-height: 120%;
  color: #002137;
  position: relative;
  top: 280px;
  right: 64px;
  bottom: 691px;
  left: 777px;
  width: 599px;
}

.scob1 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 178px;
  color: #002137;
  font-variant-ligatures: none;
  position: relative;
  top: 342px;
  right: 64px;
  bottom: 691px;
  left: 690px;
  width: 286px;
}

.scob2 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 126px;
  color: #002137;
  font-variant-ligatures: none;
  position: relative;
  top: 426px;
  right: 64px;
  bottom: 691px;
  left: 731px;
  width: 215px;
}

.arrow1 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 128px;
  color: #002137;
  transform: rotate(-135deg);
  position: relative;
  top: 90px;
  right: 64px;
  bottom: 691px;
  left: 990px;
  width: 98px;
}

.arrow2 {
  /* font-family: "Parmigiano Piccolo Pro";
  font-size: 96px;
  color: #002137;
  transform: rotate(-135deg);
  position: relative;
  top: 200px;
  right: 64px;
  bottom: 691px;
  left: 994px;
  width: 74px; */
  font-family: "Parmigiano Piccolo Pro";
  font-size: 128px;
  color: #002137;
  transform: rotate(-135deg);
  position: relative;
  top: 90px;
  right: 64px;
  bottom: 691px;
  left: 990px;
  width: 98px;
}

.lig1 {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 126px;
  color: #002137;
  font-variant-ligatures: none;
  position: relative;
  top: 426px;
  right: 64px;
  bottom: 691px;
  left: 731px;
  width: 215px;
}

.nineSection {
  background-image: url(../images/9.svg);
  height: 2022px;
  background-size: cover;
  display: block;
}

.nineSection h4 {
  font-family: "Parmigiano Piccolo Pro";
  color: #002137;
  position: relative;
  top: 82px;
  right: 599px;
  bottom: 1859px;
  left: 599px;
  width: 242px;
}

.tenSection {
  background-image: url(../images/10.svg);
  height: 1006px;
  background-size: cover;
  display: block;
}

.elevenSection {
  background-image: url(../images/11.svg);
  height: 915px;
  background-size: cover;
  display: block;
}

.twelveSection {
  background-image: url(../images/12.svg);
  height: 764px;
  background-size: cover;
  display: block;
}

.thirteenSection {
  background-image: url(../images/13.svg);
  height: 704px;
  background-size: cover;
  display: block;
}

.name {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 16px;
  line-height: 130%;
  color: #fff6e7;
  text-align: right;
  position: relative;
  top: 150px;
  right: 64px;
  bottom: 490px;
  left: 1207px;
  width: 169px;
}

.kurator {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 16px;
  line-height: 120%;
  color: #fff6e7;
  text-align: right;
  position: relative;
  top: 286px;
  right: 64px;
  bottom: 490px;
  left: 1292px;
  width: 84px;
}
.anna {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 16px;
  line-height: 120%;
  color: #fff6e7;
  text-align: right;
  position: relative;
  top: 301px;
  right: 64px;
  bottom: 490px;
  left: 1261px;
  width: 115px;
}
.kamila {
  font-family: "Parmigiano Piccolo Pro";
  font-size: 16px;
  line-height: 120%;
  color: #fff6e7;
  text-align: right;
  position: relative;
  top: 373px;
  right: 64px;
  bottom: 490px;
  left: 1252px;
  width: 124px;
}
