@import "reset.css";
@import "layout.css";
@font-face {
  font-family: "Parmigiano Piccolo Pro Regular";
  src: url(../fonts/ParmigianoPiccoloPro-Reg.woff2);

  font-family: "Parmigiano Piccolo Pro Black";
  src: url(../fonts/ParmigianoPiccoloPro-Blk.woff2);

  font-family: "Parmigiano Piccolo Pro Thin";
  src: url(../fonts/ParmigianoPiccoloPro-Thin.woff2);

  font-family: "Parmigiano Piccolo Pro Light";
  src: url(../fonts/ParmigianoPiccoloPro-Lt.woff2);

  font-family: "Parmigiano Piccolo Pro Medium";
  src: url(../fonts/ParmigianoPiccoloPro-Med.woff2);
}
