@import "reset.css";
@import "layout.css";
@font-face {
  font-family: "Parmigiano Piccolo Pro";
  src: url(../fonts/ParmigianoPiccoloPro-Reg.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-RegIta.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-Blk.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-BlkIta.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-ThinIta.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-LtIta.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-MedIta.woff2);
  src: url(../fonts/ParmigianoPiccoloPro-BldIta.woff2);
}
